<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.wahsaludapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Wellness And Health</name>
    <description>
        ¡Consigue logros, y entrena al maximo!
    </description>
    <author email="alan_hindle@homail.com" href="http://wahsalud.tk/">
        Alan Hindle
    </author>
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.7.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />

    <!--<gap:plugin name="org.apache.cordova.device-orientation" version="0.3.9" />-->
    <icon src="icon.png" />
	<icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/ldpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/mdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/hdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/xhdpi/ic_launcher.png" />
	<icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icon/android/xxhdpi/ic_launcher.png" />
	<icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icon/android/xxxhdpi/ic_launcher.png" />

    <gap:splash src="splash.png" />
    <gap:splash src="res/screen/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="res/screen/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="res/screen/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="res/screen/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	
    <access origin="*" />
</widget>
